:root {
  /* fonts */
  --primary-font: "Shippori Antique B1", sans-serif;
  --secondary-font: "Shippori Antique B1", sans-serif;

  /* colour palette */
  --primary-color-darkpurple: #6A5ACD;
  --primary-color-mediumpurple: #7B6FE8;
  --primary-color-lightpurple: #9C8CFF;

  --secondary-color: #AED9E0;
  --secondary-color-white: white;
  --secondary-color-grey: #E6E6EF;

  --pale-color-ocean-blu: #B8F2E6;
  --pale-color-eggshell: #FAF3DD;
  --pale-color-red: #FFA69E;
  --pale-color-yellow: #F9CB40;
}

.title {
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: 500;
  margin:30px 20px 15px 30px;
  padding-bottom: 0;
  color: var(--primary-color-darkpurple);
}

.sub-title {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 300;
  margin:0px 30px;
  padding-bottom: 0;
  color: var(--primary-color-darkpurple);
}

h1 {
  font-size: 30px;
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color-darkpurple);
}

h2 {
  font-size: 20px;
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color-darkpurple);
}

h3 {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 350;
  font-style: normal;
  color: var(--primary-color-lightpurple);
}

.text-transform {
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  will-change: transform;
}

.text-transform:hover {
  transform: scale(1.10);
}

#revision-cards {
  padding:25px;
}

.card {
  border: 1px solid var(--primary-color-lightpurple);
  border-radius: 15px;
  padding: 0 0 20px 0;
  margin-bottom: 15px;
  background-color: var(--secondary-color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card h2 {
  margin: 0 0 8px;
  color: var(--primary-color-darkpurple);
}

.card p {
  margin: 0;
  color: var(--primary-color-lightpurple);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  color: rgb(106, 90, 205);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

/* pop up revision modal */
.revision-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 700px;
  min-height: 300px;
  padding: 2rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    width: 150px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 200px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .logo {
    width: 250px;
  }
}